.button {
  background-color: red;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  min-width: 80px;
  color: #fff;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
}
