.fullScreen {
  background: #f9f9f9;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.buttonHolder {
  display: flex;
  justify-content: right;
  padding: 10px;
}
